<a href="https://colab.research.google.com/github/chaturvediajay/NLP/blob/main/Dep_parsing3_ipynb_txt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import spacy
from spacy import displacy
import pandas as pd
nlp = spacy.load("en_core_web_sm")

In [3]:
active_passive = pd.read_csv('/content/drive/MyDrive/al_ml_project/NLP/active_passive.csv')
active_passive.head(4)

                    Active                            Passive
0        He reads a novel.                   A novel is read.
1   He does not cook food.         Food is not cooked by him.
2  Does he purchase books?  Are books being purchased by him?
3        They grow plants.          Plants are grown by them.

In [4]:
active_passive.shape

(40, 2)